{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Welcome, {{ user.name }}</strong>
    <p>See your scheduled haircuts:</p>
    <ul class="providers">
      {% for appointment in appointmentList %}
        <li class="provider">
          <div>
            <img src="/files/{{ appointment.user_avatar }}" />
            <strong>{{ appointment.user_name }}<br>{{ appointment.date }}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
