{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Welcome, {{ user.name }}</strong>
    <p>Schedule your haircut choosing a professional below:</p>
    <ul class="providers">
      {% for provider in providerList %}
        <li class="provider">
          <div>
            <img src="/files/{{ provider.avatar }}" />
            <strong>{{ provider.name }}</strong>
          </div>
          <a href="/app/appointments/new/{{ provider.id }}">+</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
